<% save_place_id = nil %>
<div id="edit_parts">
	<div id="places_part" class="inline_block">
		<table>
			<% @places.each do |place| %>
			<tr>
				<td class="place_part">
					<%= link_to image_tag('/assets/edit.png'), edit_place_path(place.id) %>
					<%= link_to image_tag('/assets/arrow_down.png'), new_place_path(after_id: place.id) %>
					<%= place.name %>
					<% save_place_id=place.id %>
					<%= link_to image_tag('/assets/arrow_right.png'), new_place_path(base_id: place.id) %>
					<ul>
						<% place.child_places.each do |sub_place| %>	
						<li>
							<div id="sub_place_part">
								<%= sub_place.name %>
							</div>
						</li>
						<% end %>
					</ul>
				</td>
				<td class="activities_part">

				</td>
			</tr>
			<% end %>
		</table>
		<div id="after_edit_parts">
			<% if @places.count == 0 %>
			<p>
				Where do you want to go?
			</p>
			<%= link_to "Create your <em>first</em> place".html_safe, new_place_path  %>
			<% else %>
			<%= link_to "Next place", new_place_path(last_place: save_place_id) %>
			<% end %>
		</div>
		<div id="place_spacer">			
		</div>
	</div>
	<%= render 'routes/route_list' %>
	
</div>




<div id="spacer"></div>