
<%if get_user && get_trips.count == 0 %>
	You don't have any trips.  Would you like to <%= link_to "Create one?", new_trip_path %>
<% end %>

<div id="show_trips">
  <% @trips.each do |trip| %>
  <div id="show_a_trip">
    <%= trip.name %>
    <ul>
      <li>[<%= link_to 'Build trip', places_path(trip_id: trip.id) %>] [<%= link_to 'View itinerary', trip, trip_id: trip.id %>]</li>
      <li><%= trip.description %></li>
    </ul>
  </div>

<% end %>
</div>

<br />

<%= link_to '[New Trip]', new_trip_path %>
<%= link_to '[Home]', root_path %>
