<% total_miles = 0 %>
<table border="0" width="75%">
	<tr>
		<td><h1>Trip <%= @trip.name %> </h1>
			(<%= link_to image_tag('/assets/edit.png'), edit_trip_path(@trip) %> trip)
			(<%= link_to image_tag('/assets/add.png'), new_place_path %> place)
			(<%= link_to image_tag('/assets/add.png'), new_route_path(trip_id: @trip.id, redirect_to: @trip) %> route)
		</td>
	</tr>
	<tr>
		<td>
			<div id="trip_description">
				<%= @trip.description %> 
			</div>
		</td>
	</tr>

	<% @routes.each do |route| %>
		<tr>
			<td>
				<table border="0" width="100%">
					<col style="width:1%">
					<col style="width:21%">
					<col style="width:78%">
					<tr>
						<td id="route_name" colspan="3">
							<%= route.get_places[:start].name %> to <%= route.get_places[:end].name %><br/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<% if route.distance %>
								<div id="route_distance">
									Traveling: <%=route.distance %> miles.<br/>
									Total miles traveled so far: <%= total_miles += route.distance %>
								</div>
							<% end %>
						</td>
					<tr>
						<% if route == @first_route %>
							<td class="place_name" colspan="3">@<%= route.get_places[:start].name %> (HOME)</td>
						<% else %>
							<td class="place_name" colspan="3">@<%= route.get_places[:start].name %></td>
						<% end %>
					</tr>
					<tr><td colspan="3"><u>Activities:</u></td></tr>
					<tr id="start_places">
						<td class="add_activity"><%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:route.get_places[:start].id  %></td>
						<td colspan="2'">
							<ul>
								<% route.get_places[:start].get_activities.each do |activity| %>
									<li>
										<%= activity.name %> (<%= activity.get_type_name %>)
									</li>
								<% end %>
							</ul>
							
						</td>
					</tr>			
					<% route.get_places[:way_places].each do |place| %>	
						<tr>
							<td class="place_name" colspan="3">	@<%= place.name %></td>
						</tr>
						<tr><td colspan="3"><u>Activities:</u></td></tr>
						<tr>						
							<td class="add_activity"><%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:place.id %></td>
							<td colspan="2">
								<% if place.get_activities.any? %>
									<ul>
										<% place.get_activities.each do |activity| %>
								  			<li><%= activity.name %> (<%= activity.get_type_name %>)
								  				<% if activity.notes %> - <%= activity.notes %><% end %>
								  			</li>
										<% end %>
									</ul>
								<% end %>
							</td>
						</tr>
					<% end %>
		
					<% if route == @last_route %>
						<tr id="last_place">
							<td class="place_name" colspan="3"><%= route.get_places[:end].name %> (END)</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>	
	<% end %>
</table>

