<p id="notice"><%= notice %></p>

<h1>Trip <%= @trip.name %> </h1>
<p><div class="trip_description">
	<%= @trip.description %>
</div></p>

<table id="routes">
	<%= render @routes %>
</table>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
