<% total_miles = 0 %>
<% total_cost = 0.0 %>
<% total_activity_cost = 0.0 %>
<% total_gas_cost = 0.0 %>
<table border="0" width="75%">
	<tr>
		<td><h1>Trip <%= @trip.name %> </h1>
			<% session[:redirect_to] = trip_path(@trip.id) %>
			(<%= link_to image_tag('/assets/edit.png'), edit_trip_path(@trip) %> trip)
			(<%= link_to image_tag('/assets/add.png'), new_place_path %> place)
			(<%= link_to image_tag('/assets/add.png'), new_trip_route_path(@trip) %> route)
		</td>
	</tr>
	<tr>
		<td>
			<div id="trip_description">
				<%= @trip.description %> 
			</div>
		</td>
	</tr>

	<% @routes.each do |route| %>
		<tr>
			<td>
				<table border="0" width="100%">
					<col style="width:1%">
					<col style="width:21%">
					<col style="width:78%">
					<tr>
						<td id="route_name" colspan="3">
							<%= route.start_place_name %> to <%= route.end_place_name %><br/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<% if route.distance %>
								<div class="route_distance">
									<%= route.notes %>
									<% 
										total_miles += route.distance; 
										total_cost += route.cost_of_gas + route.cost_of_activities 
										total_gas_cost += route.cost_of_gas 
										total_activity_cost += route.cost_of_activities
									%>
									
									<table>
										<tr>
											<td class="td_green">Miles</td>
											<td class="td_green">Gas</td>
											<td class="td_green">Activities</td>
											<td class="td_green">Total Cost</td>
										</tr>
										<tr>
											<td class="td_green">Route</td>
											<td class="td_right"><%= route.distance %></td>
											<td class="td_right">$<%= route.cost_of_gas %></td>
											<td class="td_right">$<%= route.cost_of_activities %></td>
											<td class="td_right">$<%= route.cost_of_gas + route.cost_of_activities %></td>
										</tr>
										<tr>
											<td class="td_green">Trip</td>
											<td class="td_right"><%= total_miles %></td>
											<td class="td_right">$<%= total_gas_cost %> </td>
											<td class="td_right">$<%= total_activity_cost %></td>
											<td class="td_right">$<%= total_cost %></td>
										</tr>
									</table>
								</div>
							<% end %>
						</td>
					<tr>
						<% if route == @first_route %>
							<td class="place_name" colspan="3">@<%= route.start_place_name %> (HOME)</td>
						<% else %>
							<td class="place_name" colspan="3">@<%= route.start_place_name %></td>
						<% end %>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:@first_place_id  %>
							Activities:
						</td>
					</tr>
					<% if route.start_place %>
						<tr id="start_places" class="show_activities">
							<td colspan="3">
								<ul>
									<% route.start_place.get_activities.each do |activity| %>
										<li>
											<%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity.id)%>
											<%= activity.show_activity_info %>
										</li>
									<% end %>
								</ul>
								
							</td>
						</tr>	
					<% end %>		
					<% route.mid_places.each do |place| %>	
						<tr>
							<td class="place_name" colspan="3">	@<%= place.name %></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2">
								<%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:route.start_place_id  %>
								Activities:
							</td>
						</tr>
						<tr class="show_activities">						
							<td colspan="3">
								<ul>
									<% place.get_activities.each do |activity| %>
							  			<li>
							  				<%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity.id)%> <%= activity.show_activity_info %>
							  				<% if activity.notes %> - <%= activity.notes %><% end %>
							  			</li>
									<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
		
					<% if route == @last_route %>
						<tr id="last_place" >
							<td class="place_name" colspan="3"><%= route.end_place_name %> (END)</td>
						</tr>
						<%if route.end_place %>
							<tr class="show_activities">
								<td colspan="3">
									<% if @first_place_id != route.end_place.id %>
										<ul>
											<% route.end_place.get_activities.each do |activity| %>
									  			<li>
									  				<%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity.id)%> <%= activity.show_activity_info %>
									  				<% if activity.notes %> - <%= activity.notes %><% end %>
									  			</li>
											<% end %>
										</ul>
							
									<% end %>
								</td>
							</tr>
						<% end %>
						<tr>
							<td colspan="3">
								<div class="route_distance">
									<p>Stats for this trip:</p>
									<table>
										<tr>
											<td class="td_green">Miles</td>
											<td class="td_green">Gas</td>
											<td class="td_green">Activities</td>
											<td class="td_green">Total Cost</td>
										</tr>
										<tr>
											<td class="td_green">Trip</td>
											<td class="td_right"><%= total_miles %></td>
											<td class="td_right">$<%= total_gas_cost %> </td>
											<td class="td_right">$<%= total_activity_cost %></td>
											<td class="td_right">$<%= total_cost %></td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>	
	<% end %>
</table>

