<% total_miles = 0 %>
<% total_cost = 0.0 %>
<% total_activity_cost = 0.0 %>
<% total_gas_cost = 0.0 %>
<table border="0" width="75%">
	<tr>
		<td><h1>Trip <%= @trip.name %> </h1>
			<% session[:redirect_to] = trip_path(@trip.id) %>
			(<%= link_to image_tag('/assets/edit.png'), edit_trip_path(@trip) %> trip)
			(<%= link_to image_tag('/assets/add.png'), new_place_path %> place)
			(<%= link_to image_tag('/assets/add.png'), new_route_path(trip_id: @trip.id) %> route)
		</td>
	</tr>
	<tr>
		<td>
			<div id="trip_description">
				<%= @trip.description %> 
			</div>
		</td>
	</tr>

	<% @routes.each do |route| %>
		<tr>
			<td>
				<table border="0" width="100%">
					<col style="width:1%">
					<col style="width:21%">
					<col style="width:78%">
					<tr>
						<td id="route_name" colspan="3">
							<%= route.get_places[:start].name %> to <%= route.get_places[:end].name %><br/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<% if route.distance %>
								<div id="route_distance">
									<%= route.notes %>
									<% 
										total_miles += route.distance; 
										total_cost += route.cost_of_gas + route.cost_of_activities 
										total_gas_cost += route.cost_of_gas 
										total_activity_cost += route.cost_of_activities
									%>
									<table>
										<tr>
											<th></th>
											<th>Route</th>
											<th>Trip</th>
										</tr>
										<tr>
											<td class="td_green">Miles</td>
											<td class="td_right"><%= route.distance %></td>
											<td class="td_right"><%= total_miles %></td>
										</tr>
										<tr>
											<td class="td_green">Gas</td>
											<td class="td_right">$<%= route.cost_of_gas %></td>
											<td class="td_right">$<%= total_gas_cost %> </td>
										</tr>
										<tr>
											<td class="td_green">Activities</td>
											<td class="td_right">$<%= route.cost_of_activities %></td>
											<td class="td_right">$<%= total_activity_cost %></td>
										</tr>
										<tr>
											<td class="td_green">Total Cost</td>
											<td class="td_right">$<%= route.cost_of_gas + route.cost_of_activities %></td>
											<td class="td_right">$<%= total_cost %></td>
										</tr>
									</table>
								</div>
							<% end %>
						</td>
					<tr>
						<% if route == @first_route %>
							<td class="place_name" colspan="3">@<%= route.get_places[:start].name %> (HOME)</td>
						<% else %>
							<td class="place_name" colspan="3">@<%= route.get_places[:start].name %></td>
						<% end %>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:route.get_places[:start].id  %>
							Activities:
						</td>
					</tr>
					<tr id="start_places" class="show_activities">
						<td colspan="3">
							<ul>
								<% route.get_places[:start].get_activities.each do |activity| %>
									<li>
										<%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity.id)%>
										<%= activity.show_activity_info %>
									</li>
								<% end %>
							</ul>
							
						</td>
					</tr>			
					<% route.get_places[:way_places].each do |place| %>	
						<tr>
							<td class="place_name" colspan="3">	@<%= place.name %></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2">
								<%= link_to image_tag('/assets/add.png'), controller: "activities", action: "new", place_id:route.get_places[:start].id  %>
								Activities:
							</td>
						</tr>
						<tr class="show_activities">						
							<td colspan="3">
								<% if place.get_activities.any? %>
									<ul>
										<% place.get_activities.each do |activity| %>
								  			<li>
								  				<%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity.id)%> <%= activity.show_activity_info %>
								  				<% if activity.notes %> - <%= activity.notes %><% end %>
								  			</li>
										<% end %>
									</ul>
								<% end %>
							</td>
						</tr>
					<% end %>
		
					<% if route == @last_route %>
						<tr id="last_place" >
							<td class="place_name" colspan="3"><%= route.get_places[:end].name %> (END)</td>
						</tr>
						<tr>
							<td colspan="3">
								<div class="route_distance">
									<p>Stats for this trip:</p>
									<table>
										<tr>
											<td class="td_green">Miles</td>
											<td class="td_right"><%= total_miles %></td>
										</tr>
										<tr>
											<td class="td_green">Gas</td>											
											<td class="td_right">$<%= total_gas_cost %> </td>
										</tr>
										<tr>
											<td class="td_green">Activities</td>											
											<td class="td_right">$<%= total_activity_cost %></td>
										</tr>
										<tr>
											<td class="td_green">Total Cost</td>											
											<td class="td_right">$<%= total_cost %></td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>	
	<% end %>
</table>

