<p id="notice"><%= notice %></p>
	
<table width="800" border="1">
	<col style="width:5%">
	<col style="width:20%">
	<col style="width:75%">
	<tr>
		<td colspan="3"><h1>Trip <%= @trip.name %> </h1><%= link_to "[edit description]", edit_trip_path(@trip) %></td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="trip_description">
				<%= @trip.description %> 
			</div>
		</td>
	</tr>

	<% @routes.each do |route| %>
		<tr>
			<% if route == @first_route %>
				<td class="place_name" colspan="2"><%= route.get_places[:start].name %> (HOME)</td>
			<% else %>
				<td class="place_name" colspan="2"><%= route.get_places[:start].name %></td>
			<% end %>
			<td class="add_activity"><%= link_to "Add Activity", controller: "activities", action: "new", place_id:route.get_places[:start].id  %>
		</tr>

		<tr id="start_places">
			<td> </td>
			<td colspan="2'">
				<ul>
					<% route.get_places[:start].get_activities.each do |activity| %>
						<li>
							<%= activity.name %> (<%= activity.get_type_name %>)
						</li>
					<% end %>
				</ul>
				
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="place_desc" colspan="2" > <b>on the way to <em><%= route.get_places[:end].name%></em></b> 
					(<%= route.get_places[:end].id %>)
				<% if route.distance %>
					, traveling: <%=route.distance %> miles.
				<% end %>
			</td>
		</tr>


		<% if route.get_places[:way_places].any? %>				
			<tr id="way_places">
				<td></td>
					<% route.get_places[:way_places].each do |place| %>	
						<% if place.get_activities.any? %>
							<td class="action_desc" colspan="2">
								<ul>
									<% place.get_activities.each do |activity| %>
										<li>
											@<%= place.name %> - <%= activity.name %> (<%= activity.get_type_name %>)
										</li>
									<% end %>
								</ul>
							</td>
						<% else %>		
							<td class="action_desc" colspan="2">
								<ul>
									<li>
										@<%= place.name %> - 
									</li>
								</ul>
							</td>
						<% end %>
					<% end %>
				

			</tr>
		<% end %>
		
		<% if route == @last_route %>
			<tr id="last_place">
				<td class="place_name" colspan="3"> <%= route.get_places[:end].name %> (END) </td>
			</tr>
		<% end %>
	<% end %>
</table>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
<%= params[:controller]%>/<%= params[:action] %>
