<h1>
	Welcome to TripTracker
</h1>

<div class="weclome_desc">
	Use this application to plan and track your upcoming roadtrip. Here's how you use it:
	<ul>
		<li>Create a new trip, and give it a description</li>
		<li>Add some places to visit</li>
		<li>Make a basic skeleton of your trip by conecting places with routes, in the order in which you will visit them</li>
		<li>If you plan to make stops along the way, between two places, you can add more places to routes</li>
		<li>Once you have a skeleton of your trip you can add activities that you plan to do at each place</li>
	</ul>

	<%if session[:user_id] %>
		<p>
			Testing pages below:
		</p>
		<ul>
			<li>Look for current places:
				<%= form_tag("/places/by_name", method: "get") do %>
				<%= label_tag(:name, "Place name:") %>
				<%= text_field_tag(:name) %>
				<%= submit_tag("Search") %>
				<% end %>
			</li>
				<li><%= link_to "My trips", trips_path %></li>
		</ul>
	<% else %>
		<p>
		Please <%= link_to "log in", login_path %> to start using TripTracker.
	</p>
	<% end %>
	