<%= form_for([@trip, @route]) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trip_id %><br />
    <%= f.collection_select :trip_id, Trip.where(user_id: @trip.user_id), :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :start_place_id %><br />
    <%= f.collection_select  :start_place_id, Place.where(trip_id: @trip.id), :id, :name,  selected: @def_start_place_id %>
  </div>

  <div class="field">
    <%= f.label :end_place_id %><br />
    <%= f.collection_select  :end_place_id, Place.where(trip_id: @trip.id), :id, :name, selected: @def_end_place_id %>
  </div>

    <div class="field">
    <%= f.label :distance %><br />
    <%= f.number_field :distance %>
  </div>

  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :seq_no %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
