<%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA7j_Q-rshuWkc8HyFI4V2HxQYPm-xtd00hTQOC0OXpAMO40FHAxT29dNBGfxqMPq5zwdeiDSHEPL89A" %>
<%= javascript_include_tag "get_distance" %>

<%= form_for([@trip, @route]) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th>Trip</td>
    <td><%= @trip.name  %></td>
 </tr>
  <tr>
    <th>From</td>
    <td><%= @start_place.name %></td>
 </tr>
 <tr>
    <th>To</td>
    <td><%= @end_place.name %></td>
 </tr>
</table>

<div id="update_link">
  <% func_name = "showLocation(" + "'" + @start_place.name + "'" + "," + "'" + @end_place.name + "'" + ")" %>
<%=  button_to_function "Lookup route info", func_name %><br />
</div>

 

<div class="field" id="distance">
  <%= f.label :distance %><br />
  <%= f.number_field :distance, id: 'driving_distance'%>
</div>

<div class="field">
  <%= f.label :drive_time %> <br />
  <%= f.text_field :drive_time, id: 'drive_time' %>
</div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>

  <div id="update_comment"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
