<p>
  <b>Trip:</b>
  <%= @route.trip_id %>
</p>

<p>
  <b>Start location:</b>
  <%= @route.start_place_name %>
</p>

<p>
  <b>End location:</b>
  <%= @route.end_place_name %>
</p>

<p>
  <b>Notes:</b>
  <%= @route.notes %>
</p>

<p>
  <b>Distance:</b>
  <%= @route.distance %>
</p>

<%= link_to 'Edit', edit_trip_route_path(@trip, @route) %> 
<%= link_to 'Back', trip_routes_path(@trip) %>
