<h1>Listing activities</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Activity type</th>
    <th>Place</th>
    <th>Cost</th>
    <th>Notes</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td>
      <%= link_to image_tag('/assets/wand.png'), edit_activity_path(activity) %>
      <%= link_to image_tag('/assets/trash.png'),  activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td>
      <% if activity.place_id %>
        <%= link_to activity.name , activity %>
      <% else %>
            No place assigned
      <% end %>
    </td>
    <td><%= ActivityType.find(activity.activity_type).activity_type %></td>
    <td>
      <% if activity.place_id %>
        <%= Place.find(activity.place_id).name %> 
      <% else %>
        No place assigned
      <% end %>
    </td>
    <td><%= activity.cost %></td>
    <td><%= activity.notes %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
