<h1>Listing activities</h1>

<table>
  <tr>
    <th></th>
    <th>Place</th>
    <th>Activity type</th>
    <th>Cost</th>
    <th>Name</th>
    <th>Notes</th>
  </tr>

<% @activities.each do |activity| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %> ">
    <td>
      <%= link_to image_tag('/assets/edit.png'), edit_activity_path(activity) %>
      <%= link_to image_tag('/assets/delete.png'),  activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td>
      <% if activity.place_id %>
        <%= link_to Place.find(activity.place_id).name, activity %>
      <% else %>
            No place assigned
      <% end %>
    </td>
    <td><%= ActivityType.find(activity.activity_type).activity_type %></td>
    <td><%= activity.cost %></td>
    <td><%= activity.name %></td>
    <td><%= activity.notes %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
