<% @places.each do |place| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %> ">
    <td>
      <%= link_to image_tag('/assets/edit.png'), edit_place_path(place) %>
      <%= link_to image_tag('/assets/delete.png'),  place, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to place.name, place %></td>
    <td>
      <% get_route_segment(place.id).each do |segment| %>
        <%= segment %><br/>
      <% end %>
    </td>
    <td><%= place.notes %></td>
  </tr>
<% end %>