
<p>
  <b>Trip:</b>
  <%= Trip.find(@place.trip_id).name %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @place.notes %>
</p>

<h4> This place is present on the following routes: </h4>
<p>
    <% get_route_segment(@place.id).each do |segment| %>
        <%= segment %><br/>
    <% end %>
    
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
