<!DOCTYPE html>
<html>
<head>
  <title>RoadTrip Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "RoadTrip Tracker" %>
    <div id="login_info">
      <% if session[:user_id] %>
		    You are logged in as <%= session[:user_name] %> <%= link_to "[Log out]", logout_path %>
		  <% else %>
        You are not logged in <%= link_to "[Log in]", login_path  %>
      <% end %>
	   </div>
 </div>

  <div id="columns">
    <div id="side">
      <div id="scratch">
        <% if @scratch %>
         <!--  <%= hidden_div_if(@scratch.items.empty?, id: 'scratch') do %>
               <%= render @scratch %>
               <% end %> -->
        <% end %>
      </div>
      <div id="nav_group">
        <%= render_navigation %>
      </div>
    </div>
    <div id="main">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <div id="breadcrumbs">
          <%=  render_navigation(:renderer => :breadcrumbs, :join_with => ' &raquo; ', :prefix => ': ') %>
        </div>
        <%= yield %>
    </div>
  </div>
</body>
</html>
